<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          width: 80px;
        }
        </style>
</head>
<title>Token Management Page</title>


<body>

    <h1>PrivDoorbell - Token management</h1>

    {% if tokens == "None": %}
    <h3>No tokens registered.</h3>
    {% else %}

    <table>
        <tr>
            <th>Token</th>
            <th>ID</th>
            <th>Nickname</th>
            <th>Time registered</th>
            <th>Operation</th>
        </tr>
        {% for token, (device_token, timestamp, nickname) in tokens.items() %}
        <tr>
            <td>{{ token[:5] }}</td>
            <td>{{ device_token }}</td>
            <td> {{ nickname }} </td>
            <td> {{ timestamp }}</td>
            <td>
                <form action="" method="post">
                    <input type="submit" name={{ token }} value="delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}




</body>



</html>